@tailwind base;
@tailwind components;
@tailwind utilities;

.text-stroke {
  -webkit-text-stroke: 1px black; 
  text-stroke: 1px black;       
}

.text-stroke-white {
  -webkit-text-stroke: 0.5px white;
  text-stroke: 0.5px white;
}

.text-stroke-grosso {
  -webkit-text-stroke: 2px black;
  text-stroke: 2px black;
}


@font-face {
  font-family: 'Atop';
  src: url('/src/assets/fonts/atop.regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ADLaM';
  src: url('/src/assets/fonts/ADLaMDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Afacad';
  src: url('./assets/fonts/Afacad-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}